@font-face {
  src: url("/assets/GraphikAnuparp.woff2");
  font-family: GraphikAnuparp;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "GraphikAnuparp";
  background-color: hsl(33, 38%, 59%);
  color: #442e15;
  /*overflow-y: hidden;*/
  touch-action: none;
}

::-webkit-scrollbar {
  display: none;
}
